html{
    background-color: #00000c;
    color: #cccccc;
}

.png1 {
    display: flex;
    padding-right: 560px
    
    
}

.kl1 {
    color: #cccccc;
}


.cheat {
    background-color: #cccccc;
}


.goodware {
    padding-left: 750px;
    display: flex;
    font-size: 90px;
    color: #00000c;
}